a{
    color:white;
}
img {
    border-radius: 50%;
    width: 20%;
    height: 15%;
}
body {
    font-family: sans-serif;
    font-size: 80%;
    background-color: #9eaebc;
    color: #6B594A;
}

h1 {
    color: #40B9BF;
    text-shadow: 0px 0px 10px #7f03fc;
    padding: 10px 10px 10px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted black;
    text-align: center;
}
nav{
    background: rgba(80, 93, 112, .6);
    font-weight: bold;
    float: right;
    height: 420px;
    opacity: 0.8;
    display: block;
    border: 2px solid #a1a1a1;
    padding: 2px 5px;
    background: #add8e6;
    border-radius: 5px;
    text-decoration: none;
    box-shadow: 5px 5px 5px #888888;
}
section{
    background-image: url("images/colorwheel.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-attachment: fixed;
    background-position: right;
}


