img {
    border-radius: 50%;
    width: 20%;
    height: 15%;
}
body {
    font-family: sans-serif;
    font-size: 80%;
    background-color: #9eaebc;
    color: #6B594A;
    font-size: 30%;
}

h1 {
    color: #40B9BF;
    text-shadow: 0px 0px 10px #7f03fc;
    padding: 10px 10px 10px;
    margin-left: 20%;
    margin-right: 20%;
    border: 2px dotted black;
    text-align: center;
}

